/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
{
  box-sizing: border-box;
} 

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/
html {
  height: 100%;
}

input,
textarea {
  outline: none;
  resize: none;
}

.note-wrap {
  /* border-left: 1px solid rgba(0, 0, 0, 0.125); */
  min-height: 80vh;
  padding: 20px;
}

.header {
  /* padding: 1.5rem; */
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 0.7rem;
  padding-bottom: 1.5rem;
  min-height: 80vh;
}

.header-post-title-list {
  background: #ffffff;
  border-radius: 5px;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  min-height: 42px;
  font-weight: 700;
}

.drag_wrap {
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.notes_list {
  padding: 20px;
  margin: 0;
}

.note {
  width: 100%;
  height: 100%;
  background-color: lightyellow;
  border: 1px solid grey;
  box-shadow: 2px 2px 3px lightgrey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.note_title,
.note_description {
  width: 100%;
  padding: 8px 14px;
  background: transparent;
}

.note_title {
  font-size: 16px;
  font-weight: bold;
}

.note_description {
  height: 100%;
  flex-grow: 1;
  font-size: 14px;
}

.note_delete {
  position: absolute;
  top: -3px;
  right: 5px;
  font-size: 20px;
  color: lightgrey;
  padding: 5px;
}

.note_reduce {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: -3px;
  right: 25px;
  font-size: 20px;
  color: lightgrey;
  padding: 5px;
}

.note_delete:hover {
  color: black;
  cursor: pointer;
}

.note_reduce:hover {
  color: black;
  cursor: pointer;
}
